@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./borders.css";
@import "./fonts.css";
@import "./shame.css";
:root {
    /* Define what black means to my application */
    --black: #222;
    --lime: #5cd393;
    --h1: 70px;
    --h2: 50px;
}

* {
    margin: 0px;
    color: var(--black);
    font-family: 'Inconsolata', sans-serif;
}

body {
    background-color: var(--lime);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* 0.4em top and bottom and 0px for left and right*/
    margin: 0.4em 0px;
    font-family: 'McLaren', sans-serif;
}